*.gem
*.rbc
lib/dictionaries/en_US*
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
log/*
performance_report.html
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
